* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #444;
  background: #EEEEEE;
}

header {
  z-index: 1000;
  position: fixed;
  background-color: black;
  height: 80px;
  width: 100%;
}

nav {
  font-size: 20px;
  height: 80px;
}

nav > a {
  text-decoration: none;
  color: white;
  line-height: 20px;
  align-self: center;
  margin: 8px;
}

main {
  min-height: 700px;
}

.flex {
  display: flex;
}

.border-5 {
  border-style: solid;
  border-width: 5px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.left {
}

.center {
  flex: 6 1 0;
}

.right {
}

.sidebar {
  flex: 1 6 0;
}

.menu {
  justify-content: center;
}
